
body {margin: 0; padding: 0;}

svg {
	position: absolute;
}
#imap {
	z-index: 2;
	text-align: center;
	margin-left: 9px;
	margin-top: 13px;
}
svg path {
	z-index: 1;
	position: relative;
}
.part {
	fill: #00FA9A;
}

path {
	opacity: 0.7;
}
path:hover{
	opacity: 0.3;
}
.description{
	position: absolute;
	padding: 100px;
	box-sizing: border-box;
	box-shadow: 0 0 32px 10px #ccc;
	height: 300;
	width: 400;
	left: 10%;
	top: 10%;
	background-color: #000000;
}
main {
	position: relative;
	width: 70%;
    background: #00FA9A;
    float: left;
}
.right {
	position: relative;
	width: 30%;
	height: 100%;
    background: #fc0; 
    left: 0px;
    float: right;
}